**/.vscode
Rapport/.virtual_documents/Rapport.ipynb
Rapport/.ipynb_checkpoints/Rapport-checkpoint.ipynb
.DS_Store
Rapport/monte_carlo.synctex.gz
Rapport/monte_carlo.out
Rapport/monte_carlo.log
**/*.aux
**/*~
**/*.o
Code/MC/main
Rapport/Rapport LaTeX/Rapport.log
Rapport/Rapport LaTeX/Rapport.out
Rapport/Rapport LaTeX/Rapport.synctex.gz
Rapport/Rapport LaTeX/Rapport.toc
Rapport/Rapport LaTeX/Rapport.out
